# ライブラリの読み込み

In [21]:
#データ加工でよく使うやつ
import datetime  # 日付,時刻の処理
import yaml  # yamlファイル操作
import re  # 正規表現操作
import shutil  # ファイル操作
import glob  # ファイル操作
import os  # ファイル操作
import seaborn as sns  # グラフ描画
import pandas as pd  # データ加工入出力,DataFlame
import numpy as np  # 行列計算
import scipy as sp  # 科学技術計算
import pickle
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

#モデリング
from sklearn.model_selection import train_test_split # 訓練データとテストデータの分割を行うライブラリ
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_curve, auc  # 評価指標
# KFold交差検証のライブラリ、交差検証のスコアを求めるライブラリ、および交差検証による予測に関するライブラリをimport
from sklearn.model_selection import KFold, cross_val_score
from sklearn.model_selection import GridSearchCV
import lightgbm as lgb

In [47]:
df = pd.read_pickle('./df_merge.pkl').drop(['社会人','データ内連番'],axis=1)

# 分割データの作成
- カテゴリ変数はダミー化
- 目的変数は数値でよくて、分類のモデルを選べばOK
- 欠損があると回らない。

In [48]:
#category有のとき(事前にint型に変更必要)
df2 = pd.get_dummies(df,drop_first=True)
df2.head(2)

,球種,試合内連番,試合内投球数,イニング,イニング内打席数,打席内投球数,投手登板順,投手試合内対戦打者数,投手試合内投球数,投手イニング内投球数,打者打順,打者試合内打席数,pitch_team_score,month,身長,体重,年俸,age,age_split,表裏_裏,投手投球左右_左,投手役割_救援,打者打席左右_左,打者守備位置_三,打者守備位置_中,打者守備位置_二,打者守備位置_右,打者守備位置_左,打者守備位置_打,打者守備位置_投,打者守備位置_指,打者守備位置_捕,打者守備位置_無,打者守備位置_遊,プレイ前走者状況_12_,プレイ前走者状況_1_3,プレイ前走者状況_1__,プレイ前走者状況__23,プレイ前走者状況__2_,プレイ前走者状況___3,プレイ前走者状況____,count_0-0-1,count_0-0-2,count_0-1-0,count_0-1-1,count_0-1-2,count_0-2-0,count_0-2-1,count_0-2-2,count_0-3-0,count_0-3-1,count_0-3-2,count_1-0-0,count_1-0-1,count_1-0-2,count_1-1-0,count_1-1-1,count_1-1-2,count_1-2-0,count_1-2-1,count_1-2-2,count_1-3-0,count_1-3-1,count_1-3-2,count_2-0-0,count_2-0-1,count_2-0-2,count_2-1-0,count_2-1-1,count_2-1-2,count_2-2-0,count_2-2-1,count_2-2-2,count_2-3-0,count_2-3-1,count_2-3-2,血液型_AB,血液型_B,血液型_O,血液型_不明,出身地域_北米,出身地域_日本
0,0.0,1,1,1,1,1,1,1,1,1,1,1,0,3,196,100,24000,29,5,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1,0.0,2,2,1,1,2,1,1,2,2,1,1,0,3,196,100,24000,29,5,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0

In [49]:
df_test_merge = df2[df2['球種'].isnull()].drop(['球種'],axis=1).reset_index(drop = True)
df_train_merge = df2.dropna(subset=['球種'])

In [51]:
df_train_merge = df_train_merge.astype('int64')
df_train_merge = pd.DataFrame(df_train_merge)
df_test_merge = df_test_merge.astype('int64')
df_test_merge = pd.DataFrame(df_test_merge)

In [52]:
#label比率を合わせて分割
df_train,df_test=train_test_split(df_train_merge, test_size=0.3, random_state = 88,  stratify=df_train_merge['球種'])

In [53]:
len(df_train_merge)

257117

In [54]:
len(df_test_merge)

521650

In [55]:
df_train_y = pd.DataFrame(df_train.loc[:,'球種'])
df_train_x = pd.DataFrame(df_train.drop('球種',axis=1))
df_test_y = pd.DataFrame(df_test.loc[:,'球種'])
df_test_x = pd.DataFrame(df_test.drop('球種',axis=1))

# Modeling
## randomforest
### デフォルトパラメータ
- https://www.sejuku.net/blog/64455

In [56]:
from sklearn.ensemble import RandomForestClassifier as RFC 
from sklearn.model_selection import train_test_split, GridSearchCV

In [57]:
#RandomForestClassification　パラメータはデフォルト
clf = RFC(verbose=True,       # 学習中にログを表示します。この指定はなくてもOK
          n_jobs=-1,          # 複数のCPUコアを使って並列に学習します。-1は最大値。
          random_state=88)  # 乱数のシードです。
clf.fit(df_train_x, df_train_y)

C:\Users\e11541\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   14.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   35.3s finished

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=88,
                       verbose=True, warm_start=False)

In [58]:
# Trainデータにあてはめ。predict_probaは確率を返す。　arrayで返ってくる
predict_train_label = clf.predict_proba(df_train_x)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    1.9s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    4.5s finished

In [59]:
predict_train_label = pd.DataFrame(predict_train_label)
predict_train_label

           0     1     2     3     4     5     6     7
0       0.26  0.01  0.62  0.00  0.10  0.00  0.00  0.01
1       0.85  0.00  0.14  0.01  0.00  0.00  0.00  0.00
2       0.71  0.00  0.26  0.02  0.01  0.00  0.00  0.00
3       0.91  0.04  0.00  0.00  0.05  0.00  0.00  0.00
4       0.76  0.02  0.18  0.00  0.01  0.02  0.00  0.01
...      ...   ...   ...   ...   ...   ...   ...   ...
179976  0.22  0.00  0.01  0.00  0.77  0.00  0.00  0.00
179977  0.91  0.00  0.06  0.00  0.03  0.00  0.00  0.00
179978  0.00  0.22  0.00  0.75  0.01  0.02  0.00  0.00
179979  0.80  0.00  0.11  0.00  0.07  0.00  0.02  0.00
179980  0.18  0.01  0.77  0.00  0.00  0.03  0.00  0.01

[179981 rows x 8 columns]

In [60]:
a = pd.DataFrame(df_train_y)
a=a.reset_index(drop=True)
predict_train_label2 = pd.concat([a,predict_train_label],axis=1)

In [61]:
predict_train_label2

        球種     0     1     2     3     4     5     6     7
0        2  0.26  0.01  0.62  0.00  0.10  0.00  0.00  0.01
1        0  0.85  0.00  0.14  0.01  0.00  0.00  0.00  0.00
2        0  0.71  0.00  0.26  0.02  0.01  0.00  0.00  0.00
3        0  0.91  0.04  0.00  0.00  0.05  0.00  0.00  0.00
4        0  0.76  0.02  0.18  0.00  0.01  0.02  0.00  0.01
...     ..   ...   ...   ...   ...   ...   ...   ...   ...
179976   4  0.22  0.00  0.01  0.00  0.77  0.00  0.00  0.00
179977   0  0.91  0.00  0.06  0.00  0.03  0.00  0.00  0.00
179978   3  0.00  0.22  0.00  0.75  0.01  0.02  0.00  0.00
179979   0  0.80  0.00  0.11  0.00  0.07  0.00  0.02  0.00
179980   2  0.18  0.01  0.77  0.00  0.00  0.03  0.00  0.01

[179981 rows x 9 columns]

In [63]:
#テストデータにあてはめ。
predict_test_label = clf.predict_proba(df_test_x)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.8s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    2.1s finished

In [64]:
predict_test_label = pd.DataFrame(predict_test_label)
predict_test_label

          0     1     2     3     4     5     6     7
0      0.41  0.01  0.38  0.00  0.00  0.19  0.00  0.01
1      0.36  0.14  0.08  0.01  0.02  0.00  0.32  0.07
2      0.25  0.00  0.71  0.02  0.00  0.02  0.00  0.00
3      0.26  0.18  0.30  0.00  0.14  0.08  0.00  0.04
4      0.80  0.01  0.13  0.03  0.01  0.00  0.00  0.02
...     ...   ...   ...   ...   ...   ...   ...   ...
77131  0.71  0.05  0.20  0.03  0.00  0.00  0.00  0.01
77132  0.21  0.01  0.26  0.08  0.01  0.12  0.12  0.19
77133  0.76  0.00  0.02  0.02  0.14  0.01  0.00  0.05
77134  0.61  0.12  0.13  0.03  0.04  0.01  0.01  0.05
77135  0.59  0.10  0.05  0.02  0.12  0.00  0.00  0.12

[77136 rows x 8 columns]

In [65]:
a = pd.DataFrame(df_test_y)
a=a.reset_index(drop=True)
predict_test_label2 = pd.concat([a,predict_test_label],axis=1)

In [66]:
predict_test_label2

       球種     0     1     2     3     4     5     6     7
0       2  0.41  0.01  0.38  0.00  0.00  0.19  0.00  0.01
1       6  0.36  0.14  0.08  0.01  0.02  0.00  0.32  0.07
2       0  0.25  0.00  0.71  0.02  0.00  0.02  0.00  0.00
3       3  0.26  0.18  0.30  0.00  0.14  0.08  0.00  0.04
4       2  0.80  0.01  0.13  0.03  0.01  0.00  0.00  0.02
...    ..   ...   ...   ...   ...   ...   ...   ...   ...
77131   0  0.71  0.05  0.20  0.03  0.00  0.00  0.00  0.01
77132   7  0.21  0.01  0.26  0.08  0.01  0.12  0.12  0.19
77133   0  0.76  0.00  0.02  0.02  0.14  0.01  0.00  0.05
77134   4  0.61  0.12  0.13  0.03  0.04  0.01  0.01  0.05
77135   0  0.59  0.10  0.05  0.02  0.12  0.00  0.00  0.12

[77136 rows x 9 columns]

In [91]:
# 評価関数　logloss関数
from sklearn.metrics import log_loss
print('Train:' +str(round(log_loss(df_train_y,predict_train_label),4)))
print('test:' +str(round(log_loss(df_test_y,predict_test_label),4)))

Train:0.2683
test:1.4637

### 過学習しまくりなのでグリッドサーチして
- https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [78]:
search_params = {
     'n_estimators'      : [ 10, 50, 100,300],
#      'max_features'      : [3, 5, 10, 15, 20],
      'random_state'      : [88],
      'n_jobs'            : [-1],
      'min_samples_split' : [20, 50,100,250,500,1000],
      'max_depth'         : [3, 5, 10, 15, 20, 25, 30]
}

In [79]:
gs = GridSearchCV(RFC(),           # 対象の機械学習モデル
                  search_params,   # 探索パラメタ辞書
                  cv=3,            # クロスバリデーションの分割数
                  verbose=True,    # ログ表示
                  n_jobs=-1)       # 並列処理
gs.fit(df_train_x, df_train_y)
 
print(gs.best_estimator_)

Fitting 3 folds for each of 168 candidates, totalling 504 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed: 21.1min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed: 86.3min
[Parallel(n_jobs=-1)]: Done 504 out of 504 | elapsed: 105.3min finished
C:\Users\e11541\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=30, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=50,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=-1, oob_score=False, random_state=88, verbose=0,
                       warm_start=False)

In [96]:
# 最高性能のモデルを取得し、テストデータを分類
best = gs.best_estimator_
predict_train_label =  pd.DataFrame(best.predict_proba(df_train_x))
predict_test_label =  pd.DataFrame(best.predict_proba(df_test_x))

In [100]:
best

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=30, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=50,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=-1, oob_score=False, random_state=88, verbose=0,
                       warm_start=False)

In [97]:
# 評価関数　logloss関数
from sklearn.metrics import log_loss
print('Train:' +str(round(log_loss(df_train_y,predict_train_label),4)))
print('test:' +str(round(log_loss(df_test_y,predict_test_label),4)))

Train:1.0365
test:1.2157

In [103]:
#最適モデルを保存
filename = 'RFC_GS.sav'
pickle.dump(best, open(filename, 'wb'))

In [107]:
#保存モデルをロードしてpredictする。
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict_proba(df_test_merge)
result = pd.DataFrame(submit_label)
result

,0,1,2,3,4,5,6,7
0,0.481441,0.043310,0.076928,0.219366,0.004702,0.005748,0.014282,0.154223
1,0.400714,0.085667,0.095011,0.270303,0.011252,0.005487,0.010999,0.120567
2,0.331175,0.110353,0.130199,0.203566,0.050683,0.012045,0.017498,0.144482
3,0.294046,0.128074,0.112014,0.279901,0.034455,0.013561,0.021249,0.116701
4,0.283400,0.096845,0.134890,0.275935,0.052887,0.011507,0.021947,0.122588
...,...,...,...,...,...,...,...,...
521645,0.476242,0.065214,0.106057,0.054859,0.253371,0.020253,0.004328,0.019676
521646,0.449311,0.114375,0.108755,0.069422,0.216798,0.018654,0.003352,0.019331
521647,0.464766,0.080683,0.099250,0.067178,0.249444,0.017671,0.003242,0.017765
521648,0.522414,0.051942,0.088911,0.066626,0.232984,0.020864,0.003011,0.013248
521649,0.481788,0.062325,0.088642,0.062743,0.261864,0.022831,0.003513,0.016294

### グリッドサーチで過学習が抑えられたので、Submitデータを作成する。

In [104]:
submit_label = best.predict_proba(df_test_merge)

In [105]:
submit_label = pd.DataFrame(submit_label)
submit_label

,0,1,2,3,4,5,6,7
0,0.481441,0.043310,0.076928,0.219366,0.004702,0.005748,0.014282,0.154223
1,0.400714,0.085667,0.095011,0.270303,0.011252,0.005487,0.010999,0.120567
2,0.331175,0.110353,0.130199,0.203566,0.050683,0.012045,0.017498,0.144482
3,0.294046,0.128074,0.112014,0.279901,0.034455,0.013561,0.021249,0.116701
4,0.283400,0.096845,0.134890,0.275935,0.052887,0.011507,0.021947,0.122588
...,...,...,...,...,...,...,...,...
521645,0.476242,0.065214,0.106057,0.054859,0.253371,0.020253,0.004328,0.019676
521646,0.449311,0.114375,0.108755,0.069422,0.216798,0.018654,0.003352,0.019331
521647,0.464766,0.080683,0.099250,0.067178,0.249444,0.017671,0.003242,0.017765
521648,0.522414,0.051942,0.088911,0.066626,0.232984,0.020864,0.003011,0.013248
521649,0.481788,0.062325,0.088642,0.062743,0.261864,0.022831,0.003513,0.016294

In [106]:
submit_label.to_csv("200511_submit_RFC_GS.csv",header=False,index=True)

## SVM
- https://qiita.com/sotetsuk/items/3a5718bb1f945a383ceb

In [116]:
from sklearn.datasets import load_digits
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [ ]:
C = 1.
kernel = 'rbf'
gamma  = 0.01

estimator = SVC(C=C, kernel=kernel, gamma=gamma)
classifier = OneVsRestClassifier(estimator)
classifier.fit(df_train_x, df_train_y)

In [ ]:
pred_y = classifier.predict(df_test_x)